/* App Default css styling */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* CSS Color Root */
:root {
  /* Light mode  */
--lit-high: #c4fff9;
--med-high: #9ceaef;
--med-acc: #3dccc7;
--dark-acc: #07beb8;
--tur-back: #68d8d6;
/* Dark mode */
--lit-acc: #00a6fb;
--med-acc: #0582ca;
--med-high: #006494;
--dark-high: #003554;
--roy-back: #051923;
}
/* --------------Landing Page CSS--------------------- */
/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: var(--roy-back);
}

/* Control the right side */
.right {
  right: 0;
  background-color: var(--lit-high);
  color: var(--roy-back);
  font-size: 17px;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 400px;
  height: 500px;
  border-radius: 50%;
}

button {
  border-radius: 10px;
  background-color: #006494;
  color: var(--lit-high);
  padding: 0px 40px;
}

div button {
  margin: 10px;
}

@media (max-width: 576px) {
  #welcomePara {
    width: 85%;
    font-size: 10px;
   }
}
/* ----------------End of Landing CSS-------------- */

/* -----------------Login CSS---------------------- */
.loginHeading {
  color: var(--roy-back);
}
.loginInput {
  background-color: var(--roy-back);
}
.form-control::placeholder {
  color: white;
}
/* --------------End of Login CSS----------------- */

/* --------------------Home CSS-------------------- */
header {
  background-color: var(--roy-back);
}
main {
  background: var(--roy-back);
  color: var(--roy-back);
  
}
.homeCards {
  background-color: #c4fff9;
}
.searchInput::placeholder {
  color: var(--roy-back);
}
/* -------------------------End of Home CSS------------------- */



/* ---------------------About CSS--------------------------- */
.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
  }
/* ---------------------End of About CSS--------------------------- */
  
/* ---------------Solved Problems Page------------ */
.btn {
  background-color: #006494;
  color: white;
  border-color: #006494;
  margin-left: 38.2cm;
  margin-top: -2cm;
}
.solved-list {
  width: 75rem;
  margin-left: 10cm;
  margin-top: 0.1cm
}
/* ----------------End of Solved Problem Page------------ */

/* ----------------Posted Problems Page----------------- */
.btn {
  background-color: #006494;
  color: white;
  border-color: #006494;
  margin-left: 38.2cm;
  margin-top: -2cm;
}
.solved-list {
  width: 75rem;
  margin-left: 10cm;
  margin-top: 0.1cm
}
/* --------------End of Posted Problem Page-------------- */

/* ---------------------Profile Page--------------------- */
.username {
  color: var(--lit-high);
  margin-left: 8cm;
  margin-top: 2cm;
}
.bank-point {
  width: 18rem;
  margin-left: 2cm;
  margin-top: 6cm;
  background-color: #3dccc7;
  color: var(--roy-back);
}
.card-header {
  text-align: center;
}
.post {
  margin-left: 15cm;
  margin-top: -8cm;
}
.solve {
  margin-left: 15cm;
  margin-top: 1cm;
}
/* ----------------End of the Profile Page-------------- */

/* ------------------Create Answer Page------------------- */
.answer {
margin-left: 9cm;
margin-top: 8cm;
}
.answer-card {
  width: 30rem;
  margin-left: 9cm;
}
.solve-btn{
  background-color: #006494;
  border-color: #006494;
  margin-left: 12cm;
  margin-top: 0.5cm;
}
.reply-btn {
  background-color: #006494;
  border-color: #006494;
  margin-left: 1cm;
  margin-top: 0.5cm;
}
.other {
margin-left: 28cm;
margin-top: -6.5cm;
}
.other-list {
  width: 40rem;
  margin-left: 28cm;
}
.card-body {
  background-color: var(--lit-high);
  color: var(--roy-back);
}
.create-btn {
  background-color: #006494;
  border-color: #006494;
  margin-left: 9cm;
  margin-top: 0.5cm
}
/* -----------------End of Create Answer Page------------------ */

/* ------------------New Problem Page----------------------- */
.create-card {
  margin-left: 20cm;
}
.crt-problem {
  background-color: #006494;
  border-color: #006494;
  margin-left: 22cm;
}
/* -------------------End of New Problem Page---------------- */

/* ----------------------Saved Problem Page-------------------- */
.problem-list {
    width: 70rem;
    margin-left: 10cm;
}
/* ----------------------------End of Saved Problem Page------------- */

/* -----------------------------Single Problem Page---------------------- */
.single {
  margin-left: 5cm;
  margin-top: 8cm;
}
.single-box {
  margin-left: 4.7cm;
  height: 20rem;
}
.answers {
  margin-left: 24cm;
  margin-top: -9cm;
}
.answer-box {
  width: 50rem;
  margin-left: 24cm;
}
/* -----------------------------End of Single Problem Page---------------------- */