/* App Default css styling */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* CSS Color Root */
:root {
  /* Light mode  */

  --lit-high: #c4fff9;
  --med-high: #9ceaef;
  --med-acc: #3dccc7;
  --dark-acc: #07beb8;
  --tur-back: #68d8d6;
  /* Dark mode */
  --lit-acc: #00a6fb;
  --med-acc: #0582ca;
  --med-high: #006494;
  --dark-high: #003554;
  --roy-back: #051923;
  /* Font style */
  --comf: 'Comfortaa', cursive;

--lit-high: #c4fff9;
--med-high: #9ceaef;
--med-acc: #3dccc7;
--dark-acc: #07beb8;
--tur-back: #68d8d6;
/* Dark mode */
--lit-acc: #00a6fb;
--med-acc: #0582ca;
--med-high: #006494;
--dark-high: #003554;
--roy-back: #051923;
/* Font style */
--comf: 'Comfortaa', cursive;
/*---------icon root--------*/
--icon: #b0bfd8;

}

/* --------------Landing Page CSS--------------------- */
/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: var(--roy-back);
}

/* Control the right side */
.right {
  right: 0;
  background-color: var(--lit-high);
  color: var(--roy-back);
  font-size: 17px;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 400px;
  height: 500px;
  border-radius: 50%;
}

button {
  border-radius: 10px;
  background-color: #006494;
  color: var(--lit-high);
  padding: 0px 40px;
}

div button {
  margin: 10px;
}

@media (max-width: 576px) {
  #welcomePara {
    width: 85%;
    font-size: 10px;
  }
}

/* ----------------End of Landing CSS-------------- */

/* -----------------Login CSS---------------------- */
.loginHeading {
  color: var(--roy-back);
}

.loginInput {
  background-color: var(--roy-back);
  color: white;
}

.form-input::placeholder {
  color: white;
}

/* --------------End of Login CSS----------------- */

/* --------------------Home CSS-------------------- */
header {
  background-color: var(--roy-back);
}

main {
  background: var(--roy-back);
  color: var(--roy-back);

}

.homeCards {
  background-color: #c4fff9;
}

.searchInput::placeholder {
  color: var(--roy-back);
}

/* -------------------------End of Home CSS------------------- */



/* ---------------------About CSS--------------------------- */
.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
}

/* ---------------------End of About CSS--------------------------- */

/* ---------------Solved Problems Page------------ */
.solve-back-btn {
  font-family: var(--comf);
  font-family: var(--comf);
  background-color: #006494;
  color: white;
  border-color: #006494;
  margin-left: 38.2cm;
  margin-top: -2cm;
}

.solved-list {
  font-family: var(--comf);
  width: 75rem;
  margin-left: 10cm;
  margin-top: 0.1cm;
  overflow: hidden;
}

/* ----------------End of Solved Problem Page------------ */

/* ----------------Posted Problems Page----------------- */
.post-back-btn {
  font-family: var(--comf);
  background-color: #006494;
  color: white;
  border-color: #006494;
  margin-left: 38.2cm;
  margin-top: -2cm;
}

.solved-list {
  font-family: var(--comf);
  width: 75rem;
  margin-left: 10cm;
  margin-top: 0.1cm;
  overflow: hidden;
}

/* --------------End of Posted Problem Page-------------- */

/* ---------------------Profile Page--------------------- */
.username {
  font-family: var(--comf);
  color: var(--lit-high);
  margin-left: 8cm;
  margin-top: 2cm;
}

.bank-point {
  font-family: var(--comf);
  width: 18rem;
  margin-left: 2cm;
  margin-top: 6cm;
  background-color: #3dccc7;
  color: var(--roy-back);
}
/* changed this so it wouldn't conflict with homepage card headers */
/* .card-header {
  color: var(--lit-high);
  text-align: center;
} */
.codebank-header {
  color: var(--lit-high);
  text-align: center;
}
.post {
  font-family: var(--comf);
  margin-left: 15cm;
  margin-top: -8cm;
}

.solve {
  font-family: var(--comf);
  margin-left: 15cm;
  margin-top: 1cm;
}

.post-link,
.solve-link {
  font-family: var(--comf);
  margin-left: 40cm;
  color: var(--dark-acc);
}

/* ----------------End of the Profile Page-------------- */

/* ------------------Create Answer Page------------------- */
.answer {
  font-family: var(--comf);
  margin-left: 9cm;
  margin-top: 8cm;
}

.answer-card {
  font-family: var(--comf);
  height: 20rem;
  margin-left: 9cm;
}

.solve-btn {
  font-family: var(--comf);
  background-color: #006494;
  border-color: #006494;
  margin-left: 12cm;
  margin-top: 0.5cm;
}

.reply-btn {
  font-family: var(--comf);
  background-color: #006494;
  border-color: #006494;
  margin-left: 1cm;
  margin-top: 0.5cm;
}

.other {
  font-family: var(--comf);
  margin-left: 28cm;
  margin-top: -10.5cm;
}

.other-list {
  font-family: var(--comf);
  width: 40rem;
  margin-left: 28cm;
  overflow: hidden;
}

.card-body {
  font-family: var(--comf);
  background-color: var(--lit-high);
  color: var(--roy-back);
}

.create-btn {
  font-family: var(--comf);
  background-color: #006494;
  border-color: #006494;
  margin-left: 9cm;
  margin-top: 0.5cm
}

/* -----------------End of Create Answer Page------------------ */

/* ------------------New Problem Page----------------------- */
.newProblemHeader {
    color: rgb(196, 255, 249);
    margin-top: 5cm;
    font-size: 2rem;
}
.create-card {
  font-family: var(--comf);
  width: 25rem;
  height: 25rem;
  /* margin-left: 20cm; */
}

.crt-problem {
  font-family: var(--comf);
  background-color: #006494;
  border-color: #006494;
  /* margin-left: 24.5cm; */
}

.newProblem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* -------------------End of New Problem Page---------------- */

/* ----------------------Saved Problem Page-------------------- */
.problem-list {
  font-family: var(--comf);
  width: 70rem;
  margin-left: 10cm;
}

/* ----------------------------End of Saved Problem Page------------- */

/* -----------------------------Single Problem Page---------------------- */
.single {
  font-family: var(--comf);
  margin-left: 5cm;
  margin-top: 8cm;
}

.single-box {
  font-family: var(--comf);
  margin-left: 4.7cm;
  height: 20rem;
}

.answers {
  font-family: var(--comf);
  margin-left: 24cm;
  margin-top: -9cm;
}

.answer-box {
  font-family: var(--comf);
  width: 50rem;
  margin-left: 24cm;
}

/* -----------------------------End of Single Problem Page---------------------- */

/* ------------------------- New Answer Page------------------------ */
.new {
  font-family: var(--comf);
  margin-top: 8cm;
  margin-left: 8cm;
}

.create-box {
  font-family: var(--comf);
  width: 25rem;
  height: 20rem;
  margin-left: 8cm;
}

.post-btn {
  font-family: var(--comf);
  background-color: #006494;
  border-color: #006494;
  margin-left: 8cm;
  margin-top: 0.5cm;
}

.current {
  font-family: var(--comf);
  margin-left: 28cm;
  margin-top: -11.2cm;
}

.current-box {
  font-family: var(--comf);
  width: 25rem;
  height: 20rem;
  margin-left: 28cm;
}

/* --------------------------End of New Answer Page---------------------- */

/* required for navigation to appear above elements on page */
.navi {
  display: flex;
  position: relative;
  z-index: 3;
  justify-content: center;
}

/* -------------Navbar---------------- */
ul.ml-auto.navbar-nav{
margin-top:0;
padding:0;

height:5vh;
background:rgb(196, 255, 249);
}

ul{
margin:0;
padding:0;
display:flex;
}

/* ul li{
list-style:none;
margin:0 20px;
transition:0.5s;
} */

ul li a{
display: block;
position:relative;
text-decoration:none;
padding:5px;
font-size:18px;
font-family: sans-serif;
color:rgb(248, 245, 245);
text-transform:uppercase;
transition:0.5s;
}

ul:hover li a{
transform:scale(1.5);
opacity:0.2;
filter:blur(5px);
}

ul li a:hover{
transform:scale(2);
opacity:1;
filter:blur(0);
text-decoration:none;
color:rgb(252, 248, 248);
}

ul li a:before{
content:'';
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background:rgb(196, 255, 249);
transition:0.5s;
transform-origin:right;
transform:scaleX(0);
z-index:-1;
}

ul li a:hover:before{
transition:transform 0.5s;
transform-origin:left;
transform:scaleX(1);
}